<a href="https://colab.research.google.com/github/afileni/47BDT/blob/main/Trabalho_DataMining_25_02_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
## Importação do Arquivo para um Dataframe e apresentação do DF para entendimento dos dados
df=pd.read_csv("Arquivo-Treino(1).csv")
df

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

In [22]:
## Identificando os tipos de campos na base de dados
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [23]:
## Análise do tipo de informação de cada campo que será transformado para Inteiro
df['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [24]:
## Substituindo os valores nulos do campo para 0, assim mantemos o registro para futuras análise e garantimos a conversão para inteiro
df['Gender'].fillna(0, inplace=True)
## Substituindo os valores Male para 1 e Female para 2
df=df.replace({'Gender': {"Male": int(1), "Female": int(2)}})
## Confirmando o campo Gender em inteiro
df.dtypes

Loan_ID               object
Gender                 int64
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [25]:
df['Married'].unique()

array(['No', 'Yes', nan], dtype=object)

In [26]:
## Substituindo os valores nulos do campo para 0, assim mantemos o registro para futuras análise e garantimos a conversão para inteiro
df['Married'].fillna(0, inplace=True)
## Substituindo os valores No para 1 e Yes para 2
df=df.replace({'Married': {"No": int(1), "Yes": int(2)}})
## Confirmando o campo Married em inteiro
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [27]:
df['Dependents'].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [28]:
## Substituindo os valores nulos do campo para -1, assim mantemos o registro para futuras análises e garantimos a conversão para inteiro
df['Dependents'].fillna(-1, inplace=True)
## Substituindo os valores +3 para 3 como critério para aqueles que tem filhos >=3, dessa forma faremos a conversão para inteiro e podemos
## analisar registros que podem serem importantes para o estudo
df=df.replace({'Dependents': {"3+": int(3), "0": 0, "1": 1, "2": 2}})
## Confirmando o campo Dependents em inteiro
df['Dependents'].astype('int64')
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [29]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [30]:
## Substituindo os valores Graduate para 1 e Not Graduate para 2
df=df.replace({'Education': {"Graduate": int(1), "Not Graduate": int(2)}})
## Confirmando o campo Eduacation em inteiro
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [31]:
df['Self_Employed'].unique()

array(['No', 'Yes', nan], dtype=object)

In [32]:
## Substituindo os valores nulos do campo para 0, assim mantemos o registro para futuras análise e garantimos a conversão para inteiro
df['Self_Employed'].fillna(0, inplace=True)
## Substituindo os valores No para 1 e Yes para 2
df=df.replace({'Self_Employed': {"No": int(1), "Yes": int(2)}})
## Confirmando o campo Self_Employed em inteiro
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [33]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [34]:
## Substituindo os valores Urban para 1, Rural para 2 e Semiurban para 3
df=df.replace({'Property_Area': {"Urban": int(1), "Rural": int(2), "Semiurban": int(3)}})
## Confirmando o campo Property_Area em inteiro
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status           object
dtype: object

In [35]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [36]:
## Substituindo os valores N para 1 e Y para 2
df=df.replace({'Loan_Status': {"N": int(1), "Y": int(2)}})
## Confirmando o campo Loan_Status em inteiro
df.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [37]:
df

      Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
0    LP001002       1        1  ...             1.0              1            2
1    LP001003       1        2  ...             1.0              2            1
2    LP001005       1        2  ...             1.0              1            2
3    LP001006       1        2  ...             1.0              1            2
4    LP001008       1        1  ...             1.0              1            2
..        ...     ...      ...  ...             ...            ...          ...
609  LP002978       2        1  ...             1.0              2            2
610  LP002979       1        2  ...             1.0              2            2
611  LP002983       1        2  ...             1.0              1            2
612  LP002984       1        2  ...             1.0              1            2
613  LP002990       2        1  ...             0.0              3            1

[614 rows x 13 columns]